$spacious-spacings: (
	0: 0,
	1: .25rem,
	2: .5rem,
	3: 1rem,
	4: 2rem,
	5: 4rem,
	6: 8rem,
	7: 16rem
) !default;

$spacious-breakpoints: (
	none: 0rem,
	msm: 16rem,
	mmd: 20rem,
	mlg: 24rem,
	tsm: 30rem,
	tmd: 38rem,
	tlg: 46rem,
	ssm: 64rem,
	smd: 74rem,
	slg: 88rem,
	sxlg: 106rem
) !default;

@each $spacing, $spacingValue in $spacious-spacings {
	@each $breakpoint, $breakpointValue in $spacious-breakpoints {
		$prefix: if($breakpoint == none, '', #{$breakpoint}-);

		@media (min-width: #{$breakpointValue}) {
		
			.#{$prefix}pa#{$spacing} {
				padding-left: $spacingValue;
				padding-bottom: $spacingValue;
				padding-right: $spacingValue;
				padding-top: $spacingValue;
			}

			.#{$prefix}pl#{$spacing} {
				padding-left: $spacingValue;
			}

			.#{$prefix}pb#{$spacing} {
				padding-bottom: $spacingValue;
			}

			.#{$prefix}pr#{$spacing} {
				padding-right: $spacingValue;
			}

			.#{$prefix}pt#{$spacing} {
				padding-top: $spacingValue;
			}

			.#{$prefix}pv#{$spacing} {
				padding-bottom: $spacingValue;
				padding-top: $spacingValue;
			}

			.#{$prefix}ph#{$spacing} {
				padding-left: $spacingValue;
				padding-right: $spacingValue;
			}
		
			.#{$prefix}ma#{$spacing} {
				margin-left: $spacingValue;
				margin-bottom: $spacingValue;
				margin-right: $spacingValue;
				margin-top: $spacingValue;
			}

			.#{$prefix}ml#{$spacing} {
				margin-left: $spacingValue;
			}

			.#{$prefix}mb#{$spacing} {
				margin-bottom: $spacingValue;
			}

			.#{$prefix}mr#{$spacing} {
				margin-right: $spacingValue;
			}

			.#{$prefix}mt#{$spacing} {
				margin-top: $spacingValue;
			}

			.#{$prefix}mv#{$spacing} {
				margin-bottom: $spacingValue;
				margin-top: $spacingValue;
			}

			.#{$prefix}mh#{$spacing} {
				margin-left: $spacingValue;
				margin-right: $spacingValue;
			}

		}
	}
}