@import 'variables';

$spacing-types: (
	m: margin,
	p: padding
);

@each $spacing-type, $spacing-property in $spacing-types {
	@each $breakpoint, $breakpoint-value in $spacious-breakpoints {
		$prefix: if($breakpoint == none, '', #{$breakpoint}-);

		@media (min-width: #{$breakpoint-value}) {
			@each $spacing, $spacing-value in $spacious-spacings {
				.#{$prefix}#{$spacing-type}a#{$spacing} {
					#{$spacing-property}-left: $spacing-value;
					#{$spacing-property}-bottom: $spacing-value;
					#{$spacing-property}-right: $spacing-value;
					#{$spacing-property}-top: $spacing-value;
				}

				.#{$prefix}#{$spacing-type}l#{$spacing} {
					#{$spacing-property}-left: $spacing-value;
				}

				.#{$prefix}#{$spacing-type}b#{$spacing} {
					#{$spacing-property}-bottom: $spacing-value;
				}

				.#{$prefix}#{$spacing-type}r#{$spacing} {
					#{$spacing-property}-right: $spacing-value;
				}

				.#{$prefix}#{$spacing-type}t#{$spacing} {
					#{$spacing-property}-top: $spacing-value;
				}

				.#{$prefix}#{$spacing-type}v#{$spacing} {
					#{$spacing-property}-bottom: $spacing-value;
					#{$spacing-property}-top: $spacing-value;
				}

				.#{$prefix}#{$spacing-type}h#{$spacing} {
					#{$spacing-property}-left: $spacing-value;
					#{$spacing-property}-right: $spacing-value;
				}
			}
		}
	}
}