@import 'variables';

$width-types: (
	w: width,
	mw: max-width
);

@each $width-type, $width-property in $width-types {
	@each $breakpoint, $breakpoint-value in $spacious-breakpoints {
		$prefix: if($breakpoint == none, '', #{$breakpoint}-);

		@media (min-width: #{$breakpoint-value}) {
			@each $width, $width-value in $spacious-widths {
				.#{$prefix}#{$width-type}-#{$width} { #{$width-property}: #{$width-value}; }
			}
		}
	}
}
